@model Escuela

@{
    ViewData["Title"] = "Información Escuela";
    Layout = "_Simple";
}

<h1>Escuela @ViewData["Title"]</h1>
<h2>Nombre : @Model.Nombre </h2>
<h3>Tipo Escuela : @Model.TipoEscuela</h3>
<p><strong>Año de Fundación : @Model.AñoDeCreación </strong></p>
<address>
    <P>Direccion : @Model.Dirección </P>
    <P>Pais : @Model.Pais</P>
    <P>Ciudad : @Model.Ciudad</P>
</address>

<p><i>@ViewBag.cosaDinamica</i></p>
<p><i></i></p>

