@model Curso

@{
    ViewData["Title"] = "Eliminar Curso";
    Layout = "_Simple";
}

<h1>@ViewData["Title"]</h1>
<div asp-validation-summary="All"></div>
    <Form method="POST">
        <div>
            <label asp-for="Id"></label>
            @Html.EditorFor(Curso => Curso.Id)
        </div> 
        <div>
            <label asp-for="Nombre"></label>
            @Html.EditorFor(Curso => Curso.Nombre)
        </div>   
        <div>
            <label asp-for="Dirección"></label>
            @Html.EditorFor(Curso => Curso.Dirección)
        </div> 
        <div>
            <label asp-for="Jornada"></label>
            @Html.EditorFor(Curso => Curso.Jornada)
        </div>       
        <input type="submit" value="Eliminar"/>
    </Form>
<p><i>@ViewBag.fecha</i></p>
