@model Curso

@{
    ViewData["Title"] = "Información Curso";
    Layout = "_Simple";
}

<h1>@ViewData["Title"]</h1>
<h2>@ViewData["MensajeExtra"]</h2>
<strong>Desde la vista normal</strong>
<p>Nombre : @Model.Nombre <br/>
   ID : @Model.Id <br/>
   Dirección : @Model.Dirección;</p>
   <td>
            @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
            @Html.ActionLink("Index", "Index", new { id=Model.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=Model.Id })
  </td>
  
<!--<strong>Desde la vista normal</strong>
<partial name="ObjetoEscuelaSimple">
<p><i>@ViewBag.fecha</i></p>-->


